@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: medium;
}

html,
body,
#id {
  width: 100%;
  height: 100dvh;
}

.input {
  @apply border p-2 w-full rounded;
}

@keyframes modalSlide {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-modalSlide {
  animation: modalSlide 0.5s ease-out forwards;
}
